<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.branchio"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".BranchApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BranchIO"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/Theme.BranchIO">

            <!-- Launcher Intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <!-- Branch App Test Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                    android:host="n2ujk.test-app.link"
                    android:pathPrefix="/" />
            </intent-filter>

            <!-- Alternate Test Link -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                    android:host="n2ujk-alternate.test-app.link"
                    android:pathPrefix="/" />
            </intent-filter>
        </activity>

        <!-- Branch Live/Test Keys -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_lEAgQiz316A41NKib4BWtiemBEb7lCYC" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_mDqbTfCW62t37PIjk5u9jdgcEsi6lEXm" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="true" /> <!-- Change to false for production -->

    </application>

    <!-- Optional: Support for sharing intent -->
    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
